In [1]:
import pandas as pd

# Load the dataset
data_path = 'ECS171 Project Dataset.csv'  # Update with the correct path if needed
data = pd.read_csv(data_path)

# Drop specified columns
columns_to_drop = [
    "Administrative", "Administrative_Duration",
    "Informational", "Informational_Duration",
    "PageValues", "SpecialDay"
]
data_cleaned = data.drop(columns=columns_to_drop)

# Map months to quarters
month_to_quarter = {
    "Feb": "Q1", "Mar": "Q1", "Apr": "Q1",
    "May": "Q2", "Jun": "Q2", "Jul": "Q2",
    "Aug": "Q3", "Sep": "Q3", "Oct": "Q3",
    "Nov": "Q4", "Dec": "Q4"
}
data_cleaned["Quarter"] = data_cleaned["Month"].map(month_to_quarter)

# Save or use the cleaned dataset
data_cleaned.head()  # Display the first few rows

,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue,Quarter
0,1,0.000000,0.20,0.20,Feb,1,1,1,1,Returning_Visitor,False,False,Q1
1,2,64.000000,0.00,0.10,Feb,2,2,1,2,Returning_Visitor,False,False,Q1
2,1,0.000000,0.20,0.20,Feb,4,1,9,3,Returning_Visitor,False,False,Q1
3,2,2.666667,0.05,0.14,Feb,3,2,2,4,Returning_Visitor,False,False,Q1
4,10,627.500000,0.02,0.05,Feb,3,3,1,4,Returning_Visitor,True,False,Q1

In [2]:
# Save the cleaned dataset to a new file
output_path = 'Cleaned_ECS171_Dataset.csv'
data_cleaned.to_csv(output_path, index=False)

print(f"Cleaned dataset saved to {output_path}")

Cleaned dataset saved to Cleaned_ECS171_Dataset.csv